<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Theaters</title>
    <link rel="stylesheet" href="resources/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body class="bg-dark">

    <nav id="navbar" class="navbar navbar-expand-md navbar-dark bg-danger position-fixed w-100">

        <i class="navbar-brand fas fa-university"></i>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="fas fa-home"></i> Home

                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="" @click.prevent>
                        <i class="fas fa-film"></i> Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="theaters.html">
                        <i class="fas fa-video"></i> Theatres</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-md-0">
                <div class="input-group overflow-hidden mr-sm-2 rounded d-none d-md-flex">
                    <transition name="slide">
                        <input v-show="searching" class="form-control" type="search" placeholder="Search"
                            aria-label="Search" v-model.trim="search">
                    </transition>
                    <div :class="{'input-group-append': searching}">
                        <button @click.prevent="toggleSearch" class="btn btn-dark position-relative"
                            type="submit">Search</button>
                    </div>
                </div>
                <div class="input-group overflow-hidden mr-sm-2 rounded w-100 d-md-none">
                    <input class="form-control d-md-block" type="search" placeholder="Search" aria-label="Search"
                        v-model.trim="search">
                    <div class="input-group-append">
                        <button @click.prevent="toggleSearch" class="btn btn-dark position-relative"
                            type="submit">Search</button>
                    </div>
                </div>
            </form>

            <div class="btn-group">

                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    {{loggedIn ? "My Profile" : "Log In"}}
                </button>

                <div v-if="loggedIn" class="dropdown-menu dropdown-menu-md-right">
                    <a href="mytickets.html" class="dropdown-item">My Tickets</a>
                    <div class="dropdown-divider"></div>
                    <button class="mx-4 my-2  btn btn-primary" @click.prevent="toggleLogIn">Log out</button>
                </div>

                <div v-else class="dropdown-menu dropdown-menu-md-right">
                    <form class="px-4 py-2">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" placeholder="email@example.com">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div>
                        <div class="custom-control custom-checkbox mb-3" @click.stop>
                            <input type="checkbox" class="custom-control-input" id="remember">
                            <label class="custom-control-label" for="remember">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-primary" @click.prevent="toggleLogIn">Sign in</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" @click.prevent="toggleRegister">New around here? Sign up</a>
                </div>

            </div>

        </div>

        <div id="popUpRegister" v-if="popUpRegister" class="fixed-top w-100 h-100">
            <div class="container">
                <div class="row h-100 align-items-start justify-content-center">
                    <div class="col-lg-10 align-self-center">
                        <div @click="toggleRegister" class="fixed-top w-100 h-100"></div>
                        <div class="card p-4 align-self-center" style="z-index: 1040;">
                            <div class="d-flex">
                                <h4 class="mr-auto">Register</h4>
                                <button @click="toggleRegister" type="button" class="btn btn-outline-dark">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>
                            <form class="pt-2 m-0">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="regname">Name</label>
                                            <input type="text" class="form-control" id="regname" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="regsurname">Surname</label>
                                            <input type="text" class="form-control" id="regsurname"
                                                placeholder="Surname">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="regemail">Email</label>
                                            <input type="text" class="form-control" id="regemail"
                                                placeholder="email@example.com">
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="regpassword">Password</label>
                                            <input type="password" class="form-control" id="regpassword"
                                                placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="regconfirmpassword">Password</label>
                                            <input type="password" class="form-control" id="regconfirmpassword"
                                                placeholder="Confirm Password">
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </nav>

    <div id="body">

        <div class="container">
            <div class="card my-3">
                <div class="card-body">
                    <form class="form-inline m-0">
                        <label for="movie">Choose Movie</label>
                        <select v-model="selectedmovie" class="custom-select ml-2" id="movie">
                            <option v-for="(movie, index) in movies" :value="index">
                                {{movie.Title}}
                            </option>
                        </select>
                        <label for="location" class="ml-3">At</label>
                        <select v-model="selectedlocation" class="custom-select ml-2" id="location">
                            <option v-for="location in locations" :value="location">
                                {{location}}
                            </option>
                        </select>
                        <button type="submit" class="btn btn-dark ml-3" @click.prevent>Buy tickets</button>
                    </form>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-4">
                    <div class="card">
                        <img class="card-img-top" :src="movies[selectedmovie].Poster" alt="">
                    </div>
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{movies[selectedmovie].Title}}</h2>
                            <h4 class="card-title">{{selectedlocation}}</h4>
                            <p class="card-text">
                                <b>Runtime:</b> {{movies[selectedmovie].Runtime}}<br>
                                <b>Genre:</b> {{movies[selectedmovie].Genre}}<br>
                                <b>Rated:</b> {{movies[selectedmovie].Rated}}<br>
                                <b>Director:</b> {{movies[selectedmovie].Director}}<br>
                                <b>Actors:</b> {{movies[selectedmovie].Actors}}<br>
                                <b>Plot:</b> {{movies[selectedmovie].Plot}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="card mb-3 border-0">
                <div class="row no-gutters bg-danger">
                    <div v-for="(round, index) in rounds" class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                        <button type="button" class="btn btn-danger w-100 rounded-0"
                            @click="selectedday = index">{{round.day}}</button>
                    </div>
                </div>
                <div v-for="(day, index) in rounds" v-show="index == selectedday" class="row my-2">
                    <div class="col-2 text-center mt-2">
                        <h6>Available time</h6>
                    </div>
                    <div v-for="round in day.rounds" class="col-2">
                        <a class="btn btn-dark w-100" href="ticket.html" role="button">{{round}}</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    </div>

    <div id="footer" class="jumbotron-fluid bg-danger text-light">
        <p class="text-center py-2 my-0">This website is a part of Web programming subject.</p>
    </div>

    <script src="resources/jquery-3.3.1.min.js"></script>
    <script src="resources/bootstrap.bundle.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
    <script src="resources/vue.js"></script>
    <script src="js/navbar.js"></script>
    <script src="js/movies.js"></script>
    <script src="js/theaters.js"></script>
    <script src="js/theater.js"></script>

</body>

</html>